# Development: IMAGE_TAG=main and DEPLOY_ENV=dev
# Production: IMAGE_TAG=production and DEPLOY_ENV=prod
IMAGE_TAG=main
DEPLOY_ENV=dev

APP_BIND_ADDRESS=127.0.0.1
APP_PORT=8080

DB_URL=jdbc:postgresql://host.docker.internal:5432/momogo
DB_USERNAME=momogo
